@mixin current-weather {
  .current {
    display: flex;
    flex-direction: column;
    position: relative;

    .value {
      font-size: 48px;
      padding: 16px 0;
    }

    .icon {
      position: absolute;
      right: 0;
      top: -10px;
    }
  }
}

.weather {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &.local {
    @include current-weather();
    justify-content: space-evenly;

    .forecast {
      display: flex;
      flex-wrap: wrap;

      .forecast-item {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 48px;
        width: 60px;
        margin: 4px 4px 0 0;

        .time {
          font-size: 12px;
          z-index: 1;
        }

        .value {
          z-index: 1;
        }

        .icon {
          position: absolute;
          top: 0;
          right: 0;
          width: 32px;
          z-index: 0;
          transform: translateY(-30%);
        }
      }

      &.hourly {

      }
    }
  }

  &.global {
    .widget-item {
      min-width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @include current-weather();
    }
  }

  .loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}