.app {
  height: 100vh;
  width: 100vw;
  background-color: #40b7de;

  .app-header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    border-bottom: 1px solid black;

    label {
      font-size: 32px;
    }
  }
}
